[Desktop Entry]
Exec=cinnamon-settings color
Icon=cs-color
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Settings;X-Cinnamon-Settings-Panel;HardwareSettings
OnlyShowIn=X-Cinnamon;
X-Cinnamon-Settings-Panel=color
Name=Color
Name[am]=ቀለም
Name[ar]=اللون
Name[ay]=Sami
Name[az]=Tüs
Name[be]=Колер
Name[be@latin]=Колер
Name[bg]=Цвят
Name[br]=Livioù
Name[bs]=Boja
Name[cs]=Barva
Name[cy]=Lliw
Name[da]=Farve
Name[de]=Farbe
Name[el]=Χρωματισμός
Name[en_CA]=Colour
Name[en_GB]=Colour
Name[eo]=Koloro
Name[et]=Värv
Name[eu]=Kolorea
Name[fa]=رنگ
Name[fi]=Väri
Name[fr]=Couleur
Name[fr_CA]=Couleur
Name[gd]=Dath
Name[gl]=Cor
Name[he]=צבע
Name[hi]=रंग
Name[hr]=Boja
Name[hu]=Szín
Name[id]=Warna
Name[is]=Litur
Name[it]=Colore
Name[ja]=色
Name[ka]=ფერი
Name[kab]=Ini
Name[kk]=Түс
Name[km]=ពណ៌
Name[ko]=색깔
Name[ku]=Reng
Name[lt]=Spalva
Name[lv]=Krāsa
Name[ms]=Warna
Name[nb]=Farge
Name[nds]=Farbe
Name[nl]=Kleur
Name[nn]=Farge
Name[pa]=ਰੰਗ
Name[pl]=Kolor
Name[pt]=Cor
Name[pt_BR]=Cor
Name[ro]=Culoare
Name[ru]=Цвет
Name[rue]=Цвіт
Name[sc]=Colores
Name[sk]=Farba
Name[sl]=Barva
Name[sq]=Ngjyra
Name[sr]=Боја
Name[sr@latin]=Boja
Name[sv]=Färg
Name[ta]=வண்ணம்
Name[tg]=Ранг
Name[th]=สี
Name[tr]=Renk
Name[uk]=Колір
Name[ur]=رنگ
Name[uz]=Rang
Name[uz@cyrillic]=Rang
Name[vi]=Màu sắc
Name[zh_CN]=色彩
Name[zh_HK]=顏色
Name[zh_TW]=顏色
Comment=Color management settings
Comment[am]=የ ቀለም አስተዳዳሪ ማሰናጃ
Comment[ar]=إعدادات إدارة اللون
Comment[ast]=Axustes de l'alministración de color
Comment[ay]=Sami irpaw mayjachawi
Comment[az]=Tüs yönətim quruluşları
Comment[be]=Налады колераў
Comment[be@latin]=Налады колераў
Comment[bg]=Настройка на цвета
Comment[bs]=Podešavanja upravljanja bojom
Comment[ca]=Ajusts de gestió del color
Comment[ca@valencia]=Paràmetres de gestió del color
Comment[cs]=Nastavení správy barev
Comment[cy]=Gosodiadau rheoli lliw
Comment[da]=Farvestyringsindstillinger
Comment[de]=Einstellungen der Farbverwaltung
Comment[el]=Ρυθμίσεις για τη διαχείριση χρωμάτων
Comment[en_CA]=Colour management settings
Comment[en_GB]=Colour management settings
Comment[eo]=Ŝanĝi administrad-agordojn
Comment[es]=Configuración de la gestión de color
Comment[et]=Värvihalduse seaded
Comment[eu]=Kolore-kudeaketaren ezarpenak
Comment[fa]=تنظیمات مدیریت رنگ
Comment[fi]=Värien hallinta
Comment[fr]=Gestion des couleurs
Comment[fr_CA]=Paramètres de gestion des couleurs
Comment[gd]=Roghainnean stiùireadh nan dathan
Comment[gl]=Axustes da xestión da cor
Comment[he]=הגדרות ניהול צבע
Comment[hi]=रंग प्रबंधन सेटिंग्स
Comment[hr]=Postavke upravljanja bojom
Comment[hu]=Színkezelési beállítások
Comment[ia]=Configurationes del gestion de color
Comment[id]=Pengaturan manajemen warna
Comment[is]=Stillingar litastýringar
Comment[it]=Impostazioni di gestione del colore
Comment[ja]=色管理の設定
Comment[kab]=Iɣewwaren usefrek n yiniten
Comment[kk]=Түстер басқару баптаулары
Comment[ko]=색 관리 설정
Comment[la]=Configuratio colorum
Comment[lt]=Spalvų derinimo nustatymai
Comment[lv]=Krāsu pārvaldības iestatījumi
Comment[ms]=Tetapan pengurusan warna
Comment[nb]=Fargehåndteringsinnstillinger
Comment[nl]=Kleurbeheerinstellingen
Comment[oc]=Paramètres de gestion de las colors
Comment[pa]=ਰੰਗ ਮੈਨੇਜਮੈਂਟ ਸੈਟਿੰਗ
Comment[pl]=Ustawienia zarządzania kolorami
Comment[pt]=Definições da gestão de cores
Comment[pt_BR]=Configurações de gerenciamento de cores
Comment[ro]=Setări gestiune culori
Comment[ru]=Настройки управления цветом
Comment[sk]=Nastavenia správy farieb
Comment[sl]=Nastavitve upravljanja barv
Comment[sq]=Parametrat e menaxhimit të ngjyrës
Comment[sr]=Подешавања управљања бојом
Comment[sr@latin]=Podešavanja upravljanja bojom
Comment[sv]=Inställningar för färghantering
Comment[ta]=நிற மேலாண்மை அமைப்புகள்
Comment[tg]=Танзимоти идоракунии ранг
Comment[th]=ตั้งค่าการจัดการสี
Comment[tr]=Renk yönetimi ayarları
Comment[uk]=Налаштування керування кольором
Comment[ur]=رنگ کے انتظام کی ترتیبات
Comment[uz]=Ranglarni boshqarish moslamalari
Comment[uz@cyrillic]=Ranglarni boshqarish moslamalari
Comment[vi]=Cài đặt quản lý màu
Comment[zh_CN]=色彩管理设置
Comment[zh_HK]=顏色管理設定
Comment[zh_TW]=顏色管理設定
Keywords=Color;ICC;Profile;Calibrate;Printer;Display;
Keywords[ast]=Collor;ICC;Perfil;Calibrar;Imprentadora;Pantalla;
Keywords[be]=колер;профіль;каліброўка;прынтар;дысплэй;
Keywords[be@latin]=колер;профіль;каліброўка;прынтар;дысплэй;
Keywords[ca]=Color;ICC;Perfil;Calibrar;Impressora;Pantalla;
Keywords[ca@valencia]=Color;ICC;Perfil;Calibrar;Impressora;Pantalla;
Keywords[cs]=Barva;ICC;profil;kalibrace;tisk;displeje;
Keywords[cy]=Lliw;ICC;Proffil;Calibro;Argraffydd;Dangosydd;
Keywords[da]=Farve;ICC;Profil;Kalibrere;Printer;Skærm;
Keywords[de]=Color;ICC;Profile;Calibrate;Printer;Display;Farbe;Kalibrieren;Drucker;Bildschirm;Anzeige;
Keywords[el]=Χρώμα;ICC;Προφίλ;Βαθμονόμηση;Εκτυπωτής;Οθόνη;
Keywords[en_GB]=Colour;ICC;Profile;Calibrate;Printer;Display;
Keywords[eo]=Koloro;ICC;Profilo;Kalibri;Presilo;Ekrano;
Keywords[es]=Color;ICC;Perfil;Calibrar;Impresora;Pantalla;
Keywords[et]=Värv;ICC;profiil;kalibreerimine;printer;ekraan;
Keywords[eu]=Kolorea;ICC;Profila;Kalibratu;Inprimagailua;Pantaila;
Keywords[fa]=رنگ، ICC ، پروفایل، کالیبره کردن، پرینتر، نمایشگر;
Keywords[fi]=Väri;ICC;Profiili;Kalibrointi;Tulostin;Näyttö;
Keywords[fr]=Couleur;ICC;Profil;Calibrer;Imprimante;Affichage;
Keywords[fr_CA]=Couleur;ICC;Profil;Calibrer;Imprimante;Affichage;
Keywords[he]=צבע;ICC;פרופיל;כיול;מדפסת;תצוגה;
Keywords[hi]=रंग;आईसीसी;प्रोफाइल;कैलिब्रेट;प्रिंटर;डिस्प्ले;
Keywords[hr]=Boja;ICC;Profil;Kalibracija;Pisač;Zaslon;
Keywords[hu]=Szín;ICC;Színek;Profilozás;Kalibrálás;Nyomtató;Kijelző;Color;Profile;Calibrate;Printer;Display;
Keywords[ia]=Color;ICC;Profilo;Calibrar;Imprimitor;Visualisation;
Keywords[id]=Warna;ICC;Profil;Kalibrasi;Printer;Tampilan;
Keywords[is]=Litur;ICC;Litasnið;Kvarða;Prentari;Skjár;
Keywords[it]=Colore;ICC;Profilo;Calibrazione;Stampante;Schermo;
Keywords[ja]=Color;ICC;Profile;Calibrate;Printer;Display;カラー;色;プロファイル;キャリブレーション;較正;プリンター;ディスプレイ;
Keywords[ko]=색상;ICC;프로필;보정;프린터;디스플레이;
Keywords[nb]=Farge;ICC;Profil;Kalibrer;Printer;Skjerm;
Keywords[nl]=Kleur;ICC;Profiel;Calibreren;Printer;Beeldscherm;
Keywords[oc]=Color;ICC;Perfil;Calibrar;Imprimenta;Afichatge;
Keywords[pl]=Kolor;ICC;Profil;Kalibracja;Drukarka;Wyświetlacz;
Keywords[pt]=Cor;ICC;Perfil;Calibrar;Impressora;Ecrã;
Keywords[pt_BR]=Cor;ICC;Perfil;Calibrar;Impressora;Exibir;
Keywords[ro]=Culoare;ICC;Profil;Calibrare;Imprimantă;Afișare;
Keywords[ru]=Цвет;ICC;Профиль;Калибровать;Принтер;Экран;
Keywords[rue]=Цвіт;ICC;Профіл;Мустровати;Прінтер;Екран;
Keywords[sk]=Farba;ICC;Profil;Kalibrácia;Tlačiareň;Displej;
Keywords[sl]=Barva;ICC;profil;kalibriraj;tiskalnik;zaslon;
Keywords[sv]=Färg;ICC;Profil;Kalibrera;Skrivare;Skärm;
Keywords[tr]=Renk;ICC;Profil;Kalibrasyon;Yazıcı;Görüntü;
Keywords[uk]=Колір;ICC;Профіль;Калібрування;Принтер;Дисплей;
Keywords[uz]=Rang;ICC;Profil;Kalibrlash;Printer;Displey;
Keywords[uz@cyrillic]=Rang;ICC;Profil;Kalibrlash;Printer;Displey;
Keywords[vi]=Màu sắc;ICC;Hồ sơ;Hiệu chỉnh;Máy in;Màn hình hiển thị;
Keywords[zh_TW]=色彩;ICC;設定檔;校正;印表機;螢幕;
