# Autotools
autom4te.cache/
m4/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
INSTALL
install-sh
libtool
ltmain.sh
missing
Makefile
Makefile.in
stamp-h1
*.desktop
*.desktop.in
*.m4
*.pc
po/Makefile.in.in

# Compiler output
*.la
*.lo
*.mo
*.o
.deps/
.libs/
*-resources.c
*-resources.h
panels/common/list-languages
panels/datetime/test-endianess
panels/datetime/test-timezone
panels/datetime/test-timezone-gfx
panels/wacom/calibrator/test-calibrator
panels/wacom/test-wacom
po/.intltool-merge-cache
po/POTFILES
po/stamp-it
shell/cinnamon-control-center
shell/cinnamoncc.directory
shell/cinnamoncc.menu
