debian/.debhelper
debian/cinnamon-control-center-data.debhelper.log
debian/cinnamon-control-center-data.substvars
debian/cinnamon-control-center-data
debian/cinnamon-control-center-dbg.debhelper.log
debian/cinnamon-control-center-dbg.substvars
debian/cinnamon-control-center-dbg
debian/cinnamon-control-center.debhelper.log
debian/cinnamon-control-center.substvars
debian/cinnamon-control-center
debian/debhelper-build-stamp
debian/files
debian/libcinnamon-control-center-dev.debhelper.log
debian/libcinnamon-control-center-dev.substvars
debian/libcinnamon-control-center-dev
debian/libcinnamon-control-center1.debhelper.log
debian/libcinnamon-control-center1.substvars
debian/libcinnamon-control-center1
debian/tmp

obj-x86_64-linux-gnu
