[Desktop Entry]
Exec=cinnamon-settings wacom
Icon=cs-tablet
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;HardwareSettings;X-Cinnamon-Settings-Panel;
X-Cinnamon-Settings-Panel=wacom
OnlyShowIn=X-Cinnamon;
Name=Graphics Tablet
Name[am]=ግራፊክስ ታብሌት
Name[ar]=جهاز الرسومات اللوحي
Name[ast]=Tableta de gráfica
Name[ay]=Jamuqamp tableta
Name[az]=Görüntü Taxtası
Name[be]=Графічны планшэт
Name[be@latin]=Графічны планшэт
Name[bg]=Графичен таблет
Name[bs]=Grafički tablet
Name[ca]=Tauleta gràfica
Name[ca@valencia]=Tauleta gràfica
Name[cs]=Grafický tablet
Name[cy]=Tabled Graffig
Name[da]=Tegneplade
Name[de]=Grafiktablett
Name[el]=Επιφάνεια Αφής
Name[eo]=Desegna tabuleto
Name[es]=Tableta gráfica
Name[et]=Tahvli graafika
Name[eu]=Taula grafikoa
Name[fa]=تبلت گرافیک
Name[fi]=Piirtoalusta
Name[fr]=Tablette graphique
Name[fr_CA]=Tablette graphique
Name[gd]=Tablaid grafaigeachd
Name[gl]=Tableta gráfica
Name[he]=לוח מגע גרפי
Name[hi]=ग्राफ़िक्स टैबलेट
Name[hr]=Grafički tablet
Name[hu]=Digitalizáló tábla
Name[ia]=Tabletta graphic
Name[id]=Tablet Grafis
Name[ie]=Grafical tabulette
Name[is]=Teiknitafla
Name[it]=Tavoletta grafica
Name[ja]=グラフィックタブレット
Name[ka]=გრაფიკული ტაბლეტი
Name[kab]=Tafelwit tudlift
Name[kk]=Графикалық Планшет
Name[ko]=그래픽 태블릿
Name[la]=Tabella Graphica
Name[lt]=Grafinė planšetė
Name[lv]=Grafiskā planšete
Name[ms]=Tablet Grafik
Name[nb]=Tegnebrett
Name[nds]=Grafik-Tablett
Name[nl]=Grafische tablet
Name[oc]=Tauleta grafica
Name[pl]=Tablet graficzny
Name[pt]=Tablet
Name[pt_BR]=Mesa Digitalizadora
Name[ro]=Tabletă grafică
Name[ru]=Графический планшет
Name[sc]=Tauledda gràfica
Name[sk]=Grafický tablet
Name[sl]=Grafična tablica
Name[sr]=Таблица за цртање
Name[sr@latin]=Grafička tabla
Name[sv]=Ritplatta
Name[ta]=வரைகலை தொடுதட்டு
Name[tg]=Планшети графикӣ
Name[th]=แท็บเล็ตกราฟิก
Name[tr]=Grafik Tablet
Name[uk]=Графічний планшет
Name[ur]=گرافکس ٹیبلیٹ
Name[uz]=Grafik Planshet
Name[uz@cyrillic]=Grafik Planshet
Name[vi]=Bàn vẽ Đồ hoạ
Name[zh_CN]=绘图板
Name[zh_HK]=繪圖板
Name[zh_TW]=繪圖平板
Comment=Set button mappings and adjust stylus sensitivity for graphics tablets
Comment[am]=የ ቁልፍ ካርታ ማሰናጃ እና ማስተካከያ stylus sensitivity for graphics tablets
Comment[ar]=تعيين مخططات الأزرار وضبط حساسية القلم لأجهزة الرسومات اللوحية
Comment[ast]=Configurar el mapéu de botones y axustar la sensibilidá del llapiceru nes tabletes gráfiques
Comment[ay]=Wutunanak uñacht'ayaña ukhamaraki lapisan turpa mayjachaña jamuqampi tabletanakataki
Comment[az]=Görüntü taxtaları üçün düymə bildirmələrini qur, iynə duyarlılığını ayarla
Comment[be]=Прызначэнне кнопак і змяненне адчувальнасці пяра графічных планшэтаў
Comment[be@latin]=Прызначэнне кнопак і змяненне адчувальнасці пяра графічных планшэтаў
Comment[bg]=Настройка на бутоните и чувствителността на стилуса чувствителност за графичните таблети
Comment[ca]=Establiu l'assignació dels botons i ajusteu la sensitivitat del llapis per a les tauletes gràfiques
Comment[ca@valencia]=Estableix el mapa de botons i ajusta la sensitivitat del llapis per a tauletes gràfiques
Comment[cs]=Nastavit mapování tlačítek a přizpůsobit citlivost grafických tabletů
Comment[cy]=Gosod mapio botymau a newid sensitifrwydd yr ysgrifbin ar gyfer tabledi graffig
Comment[da]=Angiv tildeling af knapper og justér følsomhed for digital pen til tegneplader
Comment[de]=Knopfzuordnung einstellen und die Empfindlichkeit des Stiftes für Grafiktabletts einstellen
Comment[el]=Ορισμός απεικονίσεων κουμπιών και ρύθμιση ευαισθησίας γραφίδας (stylus) για ταμπλέτες γραφικών
Comment[eo]=Agordi butonajn mapigojn kaj ĝustigi grifelan sentivecon por desegnaj tabuletoj
Comment[es]=Asigne los botones y ajuste la sensibilidad del lápiz óptico de las tabletas gráficas
Comment[et]=Digitaallaudade nuppude vastavuse ja kirjapulga tundlikkuse muutmine
Comment[eu]=Ezarri botoi-mapatzea eta doitu arkatzaren sentikortasuna taula grafikoentzako
Comment[fa]=تنظیم جایگاه کلید‌ها و تنظیم حساسیت قلم برای تبلت گرافیک
Comment[fi]=Aseta piirtopöydän painikkeet ja kynän herkkyys
Comment[fr]=Associer les boutons et ajuster la sensibilité du stylet des tablettes graphiques
Comment[fr_CA]=Associer les boutons et ajuster la sensibilité du stylet des tablettes graphiques
Comment[gd]=Suidhich mapadh nam putanan is cuir air gleus mothalachd an staidhleis airson tablaidean grafaigeachd
Comment[gl]=Estabeleza a asignación de botóns e axuste a sensibilidade do seu lapis dixital nas tabletas gráficas
Comment[he]=הגדרת מיפוי לחצנים והתאמת רגישות העט ללוחות מגע גרפיים
Comment[hi]=ग्राफ़िक्स टैबलेट हेतु बटन कार्य सेट व स्टाइलस संवेदनशीलता समायोजित करें
Comment[hr]=Postavi tipke mapiranja i prilagodi osjetljivost igle grafičkih tableta
Comment[hu]=Rajztáblák gombleképezéseinek beállítása és a stylus érzékenységének módosítása
Comment[ia]=Configurar le mappas del buttones e adjustar le sensitivitate del stilo pro le tablettas graphic
Comment[id]=Tata pemetaan tombol dan atur kepekaan stylus bagi tablet grafis
Comment[is]=Stilltu hnappavörpun og aðlagaðu næmni snertipenna fyrir teikniborð
Comment[it]=Imposta la mappatura dei pulsanti e regola la sensibilità  del pennino per tavolette grafiche
Comment[ja]=グラフィックタブレットのボタン割り当てや、スタイラス感度を調整します
Comment[kab]=Sireg tiqfalin u sgaddi aḥulfu n imru di tfelwin tudlifin
Comment[kk]=Графикалық планшеттер үшін батырмалар сәйкестіктерін және стилус сезімталдылығын баптау
Comment[ko]=그래픽 태블릿의 버튼을 매핑 하고 스타일러스의 감도를 조절합니다.
Comment[lt]=Nustatykite mygtukų susiejimus ir pritaikykite pieštuko jautrumą grafinėms planšetėms
Comment[nb]=Sett knappekartlegging og tilpass stylyssensitivitet for grafikkbrett
Comment[nl]=Knoptoewijzingen instellen en gevoeligheid bijstellen van stylus voor grafische tabletten
Comment[oc]=Associar los botons e ajustar la sensibilitat de l'estilet de las tauletas graficas
Comment[pl]=Ustawienie mapowania przycisków i dostosowanie wrażliwości rysika dla tabletów graficznych
Comment[pt]=Definir mapeamento dos botões e ajustar a sensibilidade das canetas dos tablets
Comment[pt_BR]=Definir botões e ajustar sensibilidade da caneta para mesas digitalizadoras
Comment[ro]=Setați alocarea butoanelor și ajustați sensibilitatea stylusului tabletei grafice
Comment[ru]=Установка привязки кнопок и настройка чувствительности пера для графических планшетов
Comment[sk]=Nastavuje priradenie tlačidiel a upravuje citlivosť pera grafických tabletov
Comment[sl]=Nastavite preslikave gumbov in prilagodite občutljivost pisala za grafične tablice
Comment[sr]=Подеси пречице дугмади и осетљивост писаљке графичким таблицама
Comment[sr@latin]=Postavite mapiranje dugmadi i podesite osetljivost digitalne olovke grafičkih tabli
Comment[sv]=Ställ in knappmappningar och justera känslighet för styluspenna till ritplattor
Comment[th]=กำหนดผังปุ่มและปรับความตอบสนองปากกาชี้สำหรับแท็บเล็ตกราฟิกส์
Comment[tr]=Grafik tabletler için düğme eşleştirmelerini ve kalem (stylus) duyarlılığını ayarla.
Comment[uk]=Визначити прив’язку кнопок і скоригувати чутливість сенсора для графічних планшетів
Comment[uz]=Grafik planshet uchun tugma joylarini o‘rnatish va pero sezgirligini moslash
Comment[uz@cyrillic]=Grafik planshet uchun tugma joylarini o‘rnatish va pero sezgirligini moslash
Comment[vi]=Ánh xạ nút và điều chỉnh độ nhạy bút bàn vẽ
Comment[zh_CN]=设置绘图板的按键映射和灵敏度
Comment[zh_HK]=設定繪圖板的按鈕對應並調整觸控筆的靈敏度
Comment[zh_TW]=設定繪圖平板的按鍵對應並調整觸控筆的靈敏度
Keywords=Tablet;Wacom;Stylus;Eraser;Mouse;
Keywords[ast]=Tablet;Wacom;Llapiceru tautil;Borrador;Mur;
Keywords[be]=планшэт;Wacom;пяро;гумка;мыш;
Keywords[be@latin]=планшэт;Wacom;пяро;гумка;мыш;
Keywords[ca]=Tauleta;Wacom;Llapis òptic;goma d'esborrar;Ratolí;
Keywords[ca@valencia]=Tauleta;Wacom;Llapis òptic;goma d'esborrar;Ratolí;
Keywords[cs]=Tablet;Wacom;stylus;guma;myš;
Keywords[cy]=Tabled;Wacoom;pwyntil;Rhwbiwr;Llygoden;
Keywords[da]=Tegneplade;Wacom;Pen;Stylus;Viskelæder;Slette;Mus;
Keywords[de]=Tablet;Wacom;Stylus;Eraser;Mouse;Maus;
Keywords[el]=Ταμπλέτα;Wacom;Πένα;Γόμα;Ποντίκι;
Keywords[eo]=Tabulkomputilo;Wacom;Grifelo;Gumo;Muso;
Keywords[es]=Tableta;Wacom;Lápiz táctil;Borrador;Ratón;
Keywords[et]=Tahvelarvuti;Wacom;Stylus;Kustutaja;Hiir;
Keywords[eu]=Tableta;Wacom;Arkatz optikoa;Borragoma;Sagua;
Keywords[fa]=تبلت، Wacom، قلم، پاک‌کن، ماوس;
Keywords[fi]=Piirtoalusta;Wacom;Kynä;Pyyhekumi;Hiiri;
Keywords[fr]=Tablette;Wacom;Stylet;Gomme;Souris;
Keywords[fr_CA]=Tablette;Wacom;Stylet;Gomme;Souris;
Keywords[he]=מחשב־לוח;Wacom;סטילוס;מחק;עכבר;
Keywords[hi]=टैबलेट;Wacom;स्टाइलस;इरेज़र;माउस;
Keywords[hr]=Tablet;Wacom;Pisaljak;Brisaljka;Miš;
Keywords[hu]=Rajztábla;Wacom;Toll;Radír;Egér;Tablet;Stylus;Eraser;Mouse;
Keywords[ia]=Tabletta;Wacom;Stilo;Eradicator;Mus;
Keywords[id]=Tablet;Wacom;Stylus;Penghapus;Mouse;
Keywords[is]=Tafla;Wacom;Teiknipenni;Útstrokari;Mús;
Keywords[it]=Tavoletta;Wacom;Penna;Gomma;Mouse;
Keywords[ja]=Tablet;Wacom;Stylus;Eraser;Mouse;タブレット;スタイラス;消しゴム;マウス;
Keywords[ko]=태블릿;Wacom;스타일러스;지우개;마우스;
Keywords[nb]=Tegnebrett;Wacom;Stylus;Viskelær;Mus;
Keywords[nl]=Tablet;Wacom;Pen;Eraser;Muis;
Keywords[oc]=Tauleta;Wacom;Estilet;Goma;Mirga;
Keywords[pl]=Tablet;Wacom;Rysik;Gumka;Mysz;
Keywords[pt]=Tablet;Wacom;Caneta;Borracha;Rato;
Keywords[pt_BR]=Tablet;Wacom;Stylus;Apagar;Mouse;
Keywords[ro]=Tabletă;Wacom;Stylus;Radieră;Maus;
Keywords[ru]=Планшет;Wacom;Стилус;Стёрка;Мышь;Электронное перо;Ручка;
Keywords[sk]=Tablet;Wacom;stylus;guma;myš;
Keywords[sl]=Tablica;Wacom;pisalo;radirka;miška;
Keywords[sv]=Ritplatta;Wacom;Stylus;Raderare;Mus;
Keywords[tr]=Tablet;Wacom;Tuş Kalemi;Silici;Fare;
Keywords[uk]=Планшет;Wacom;Стилус;Стирач;Миша;
Keywords[uz]=Planshet;Wacom;Stylus;Eraser;Sichqoncha;
Keywords[uz@cyrillic]=Planshet;Wacom;Stylus;Eraser;Sichqoncha;
Keywords[vi]=Máy tính bảng;Wacom;bút stylus;tẩy;chuột;
Keywords[zh_TW]=觸控板;Wacom;手寫筆;橡皮擦;滑鼠;
