[Desktop Entry]
Exec=cinnamon-settings display
Icon=cs-display
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Settings;HardwareSettings;X-Cinnamon-Settings-Panel;
OnlyShowIn=X-Cinnamon;
X-Cinnamon-Settings-Panel=display
Name=Display
Name[am]=ማሳያ
Name[ar]=العرض
Name[ast]=Pantalla
Name[ay]=Uñjachawi
Name[az]=Göstərmə
Name[be]=Дысплэй
Name[be@latin]=Дысплэй
Name[bg]=Екран
Name[br]=Skrammañ
Name[ca]=Pantalla
Name[ca@valencia]=Pantalla
Name[cs]=Displej
Name[cy]=Dangosydd
Name[da]=Skærm
Name[de]=Bildschirm
Name[el]=Προβολή
Name[eo]=Montri
Name[es]=Visualización
Name[et]=Kuva
Name[eu]=Pantaila
Name[fa]=صفحه‌نمایش
Name[fi]=Näyttö
Name[fr]=Affichage
Name[fr_CA]=Écran
Name[gd]=Uidheam-taisbeanaidh
Name[gl]=Pantalla
Name[he]=צג
Name[hi]=डिस्प्ले
Name[hr]=Zaslon
Name[hu]=Kijelző
Name[ia]=Schermo
Name[id]=Tampilan
Name[ie]=Monitor
Name[is]=Skjár
Name[it]=Monitor
Name[ja]=ディスプレイ
Name[ka]=დროის ჩვენება
Name[kab]=Sken
Name[kk]=Дисплей
Name[ko]=디스플레이
Name[ku]=Nîşandan
Name[la]=Ostenditor
Name[lt]=Ekranas
Name[nb]=Skjerm
Name[nds]=Bildschirm
Name[nl]=Beeldscherm
Name[oc]=Afichar
Name[pl]=Ekran
Name[pt]=Ecrã
Name[pt_BR]=Monitor
Name[ro]=Afișare
Name[ru]=Монитор
Name[rue]=Дісплей
Name[sc]=Ischermu
Name[sk]=Obrazovka
Name[sl]=Zaslon
Name[sq]=Ekrani
Name[sr]=Приказ
Name[sr@latin]=Ekran
Name[sv]=Skärm
Name[ta]=காண்பி
Name[th]=จอแสดงผล
Name[tr]=Ekran
Name[uk]=Дисплей
Name[ur]=ڈسپلے
Name[uz]=Ekran
Name[uz@cyrillic]=Ekran
Name[vi]=Hiển thị
Name[zh_CN]=显示
Name[zh_HK]=顯示器
Name[zh_TW]=顯示器
Comment=Change resolution and position of monitors and projectors
Comment[am]=የ ሞኒተር ሪዞሊሽን: ቦታ እና ማሳያ መቀየሪያ
Comment[ar]=تغيير الدقة ووضع الشاشات وأجهزة العرض
Comment[ast]=Camuda la resolución y posición de los monitores y proyeutores
Comment[ay]=Munituranaka ukhamaraki uñtayirinaka (proyectores) ukan qawqha ch'aqanakanisa ukhamaraki kawkhans uskuta uk mayjachaña
Comment[az]=Göstərənlərin, işgöstərənlərin çözünürlüyünü, yerini dəyiş
Comment[be]=Змяніць разрозненне і пазіцыю манітораў і праектараў
Comment[be@latin]=Змяніць разрозненне і пазіцыю манітораў і праектараў
Comment[bg]=Промяна на разделителната способност и положението на екраните и проекторите
Comment[bs]=Promijeni rezoluciju i poziciju monitora i projektora
Comment[ca]=Canvieu la resolució i la posició dels monitors i projectors
Comment[ca@valencia]=Canvieu la resolució i la posició dels monitors i projectors
Comment[cs]=Změnit rozlišení a polohu monitorů a projektorů
Comment[cy]=Newid cydraniad a safle dangosyddion a thaflynyddion
Comment[da]=Ændr opløsning og placering af skærme og projektorer
Comment[de]=Auflösung und Anordnung der Bildschirme und Projektoren ändern
Comment[el]=Αλλαγή της αναλύσης και της θέσης των οθονών και του προτζέκτορα
Comment[eo]=Ŝanĝi distingivon kaj posicion de ekranoj kaj projekciiloj
Comment[es]=Cambie la resolución y la posición de monitores y proyectores
Comment[et]=Kuvarite ja projektorite eraldusvõime ja asukoha muutmine
Comment[eu]=Aldatu pantaila eta proiektagailuen bereizmena eta posizioa
Comment[fa]=تغییر وضوح و موقعیت نمایشگر و پروژکتور ها
Comment[fi]=Vaihda näyttöjen ja projektorien tarkkuutta sekä sijaintia
Comment[fr]=Modifier la résolution et la position des écrans et projecteurs
Comment[fr_CA]=Modifier la résolution et la position des écrans et projecteurs
Comment[gd]=Atharraich dùmhlachd-bhreacaidh agus ionad nam monatairean agus nam proiseactaran
Comment[gl]=Cambiar a resolución e a posición dos monitores e proxectores
Comment[he]=שינוי הפרדה והמיקום של הצגים והמקרנים
Comment[hi]=मॉनिटर एवं प्रोजेक्टर हेतु रेजोलुशन व स्थिति बदलें
Comment[hr]=Promijenite razlučivost i položaj zaslona i projektora
Comment[hu]=Kijelzők és projektorok felbontásának és elhelyezésének módosítása
Comment[ia]=Cambiar le resolution e le position de monitores e projectores
Comment[id]=Ubah resolusi dan posisi monitor dan projektor
Comment[ie]=Cambiar un resolution e position de monitores e projectores
Comment[is]=Breyttu upplausn og stöðu skjáa og myndvarpa
Comment[it]=Cambia la risoluzione e la posizione dei monitor e dei proiettori
Comment[ja]=モニターやプロジェクターの解像度と位置を変更します
Comment[kab]=Beddel tabadut d wadeg n iferdisen n yimagaren
Comment[kk]=Монитормен проектордың экран рұқсатын және орналасуын өзгерту
Comment[ko]=모니터 및 프로젝터의 해상도와 위치를 바꿉니다
Comment[lt]=Pakeisti ekranų ar projektorių raišką ir poziciją
Comment[lv]=Mainīt monitoru un projektoru izšķirtspēju un izvietojumu
Comment[ms]=Ubah resolusi dan kedudukan monitor dan projektor
Comment[nb]=Endre oppløsning og posisjon av skjermer og prosjektorer
Comment[nds]=Änderung der Auflösung und Position für Monitore und Projektoren
Comment[nl]=Resolutie en positie van beeldschermen en projectoren wijzigen
Comment[oc]=Modificar la resolucion e la posicion dels ecrans e projectors
Comment[pl]=Zmiana rozdzielczości i położenia monitorów oraz projektorów
Comment[pt]=Alterar resolução e posição dos monitores e projetores
Comment[pt_BR]=Mudar a resolução e posição dos monitores e projetores
Comment[ro]=Schimbați rezoluția și poziția monitoarelor și a proiectoarelor
Comment[ru]=Изменить разрешение и позицию мониторов, проекторов
Comment[sk]=Zmeniť rozlíšenie a pozíciu monitorov a projektorov
Comment[sl]=Spremeni ločljivost in položaj zaslonov in projektorjev
Comment[sq]=Ndrysho rezolucionin dhe pozicionin e monitorëve dhe projektorëve
Comment[sr]=Промените размеру и места екрана и пројектора
Comment[sr@latin]=Promenite rezoluciju i mesta ekrana i projektora
Comment[sv]=Ändra upplösning och position för skärmar och projektorer
Comment[tg]=Тағйир додани возеҳӣ ва мавқеияти мониторҳо ва проекторҳо
Comment[th]=เปลี่ยนความละเอียดและตำแหน่งของจอภาพและเครื่องฉาย
Comment[tr]=Monitör ve projektör çözünürlüğü ve konumunu değiştir
Comment[uk]=Змінити роздільність і розташування моніторів та проєкторів
Comment[ur]=مانیٹروں اور پراجیکٹروں کی ریزولوشن اور پوزیشن تبدیل کریں
Comment[uz]=Monitorlar va proektorlar uchun ruxsat berilgan parametrlar (resolution) va ularning joyini o‘zgartirish
Comment[uz@cyrillic]=Monitorlar va proektorlar uchun ruxsat berilgan parametrlar (resolution) va ularning joyini o‘zgartirish
Comment[vi]=Đổi độ phân giải và vị trí màn hình/máy chiếu
Comment[zh_CN]=更改显示器和投影仪的分辨率和位置
Comment[zh_HK]=變更顯示器與投影機的解像度和位置
Comment[zh_TW]=變更顯示器與投影機的解析度與位置
Keywords=Panel;Projector;xrandr;Screen;Resolution;Refresh;
Keywords[ast]=Panel;Proyeutor;xrandr;Pantalla;Resolución;Refrescar;
Keywords[be]=панэль;праектар;xrandr;экран;памер;разрозненне;раздзяляльнасць;абнавіць;
Keywords[be@latin]=панэль;праектар;xrandr;экран;памер;разрозненне;раздзяляльнасць;абнавіць;
Keywords[ca]=Panell;Projector;Xrandr;Pantalla;Resolució;Actualitzar;
Keywords[ca@valencia]=Panell;Projector;Xrandr;Pantalla;Resolució;Actualitzar;
Keywords[cs]=Panel;projektor;xrandr;obrazovka;rozlišení;obnovení;
Keywords[cy]=Panel;Taflunydd;xrandr;Sgrin;Cydraniad;Adnewyddu;
Keywords[da]=Panel;Projektor;xrandr;Skærm;Opløsning;Genopfrisk;Genindlæs;
Keywords[de]=Panel;Projector;xrandr;Screen;Resolution;Refresh;Paneel;Projektor;xrandr;Bildschirm;Auflösung;Aktualisieren;Auffrischen;
Keywords[el]=Πίνακας;Προβολέας;xrandr;Οθόνη;Ανάλυση;Ανανέωση;
Keywords[eo]=Panelo;Projekciilo;xrandr;Ekrano;Distingivo;Aktualigi;
Keywords[es]=Panel;Proyector;xrandr;Pantalla;Resolución;Refresco;
Keywords[et]=Paneel;projektor;xrandr;ekraan;eraldusvõime;värskendus;
Keywords[eu]=Panela;Proiektagailua;xrandr;Pantaila;Bereizmena;Freskatu;
Keywords[fa]=پنل، پروژکتور، xrandr، صفحه، وضوح، تازه‌سازی;
Keywords[fi]=Paneeli;Projektori;xrandr;Näyttö;Resoluutio;Virkistys;
Keywords[fr]=Paneau;Projecteur;xrandr;Ecran;Résolution;Raffraichir;
Keywords[fr_CA]=Paneau;Projecteur;xrandr;Ecran;Résolution;Raffraichir;
Keywords[he]=לוח;מקרן;xrandr;מרקע;הפרדה;רענון;
Keywords[hi]=पैनल;प्रोजेक्टर;xrandr;स्क्रीन;रिज़ॉल्यूशन;रिफ्रेश;
Keywords[hr]=Panel;Projektor;xrandr;Zaslon;Razlučivost;Osvježavanje;
Keywords[hu]=Panel;Projektor;xrandr;Képernyő;Felbontás;Frissítés;Monitor;Éjszakai;fény;redshift;szín;napkelte;napnyugta;Panel;Projector;xrandr;Screen;Resolution;Refresh;
Keywords[ia]=Panello;Projector;xrandr;Schermo;Resolution;Refrescar;
Keywords[id]=Panel;Proyektor;xrandr;Layar;Resolusi;Segarkan;
Keywords[is]=Panell;Skjávarpi;xrandr;Skjár;Upplausn;Uppfærslutíðni;
Keywords[it]=Pannello;Proiettore;xrandr;Schermo;Risoluzione;Refresh;
Keywords[ja]=Panel;Projector;xrandr;Screen;Resolution;Refresh;パネル;プロジェクター;スクリーン;画面;解像度;リフレッシュ;
Keywords[ko]=패널;프로젝터;xrandr;화면;해상도;새로 고침;
Keywords[nb]=Panel;Prosjektor;xrandr;Skjerm;Oppløsning;Oppdater;
Keywords[nl]=Paneel;Projector;xrandr;Scherm;Resolutie;Verversen;
Keywords[oc]=Panèl;Projector;Xrandr;Ecran;Resolucion;Actualizar;
Keywords[pl]=Panel;Projektor;xrandr;Ekran;Rozdzielczość;Odświeżanie;
Keywords[pt]=Painel;Projetor;xrandr;Ecrã;Resolução;Atualizar;
Keywords[pt_BR]=Painel;Projetor;xrandr;Tela;Resolução;Atualizar;
Keywords[ro]=Panou;proiector;xrandr;ecran;rezoluție;reîmprospătare;
Keywords[ru]=Панель;Проектор;xrandr;Экран;Разрешение;Обновить;
Keywords[sk]=Panel;Projektor;xrandr;Obrazovka;Rozlíšenie;Obnoviť;
Keywords[sl]=Plošča;projektor;xrandr;zaslon;ločljivost;osveževanje;
Keywords[sv]=Panel;Projektor;xrandr;Skärm;Upplösning;Uppdatera;
Keywords[tr]=Panel;Projektör;xrandr;Ekran;Çözünürlük;Tazeleme;
Keywords[uk]=Панель;Проектор;xrandr;Екран;Роздільна здатність;Оновити;
Keywords[uz]=Panel;Proyektor;xrandr;Ekran;Ruxsat;Yangilash;
Keywords[uz@cyrillic]=Panel;Proyektor;xrandr;Ekran;Ruxsat;Yangilash;
Keywords[vi]=Bảng panel;Máy chiếu;xrandr;Màn hình;Độ phân giải;Làm mới;
Keywords[zh_TW]=觸控板;投影機;xrandr;螢幕;解析度;更新率;
