Source: cinnamon-control-center
Section: x11
Priority: optional
Maintainer: Linux Mint <root@linuxmint.com>
Build-Depends:
 cinnamon-settings-daemon-dev,
 debhelper-compat (= 12),
 gnome-pkg-tools (>= 0.10),
 gtk-doc-tools,
 intltool (>= 0.37.1),
 libcinnamon-desktop-dev (>= 4.8),
 libcinnamon-menu-3-dev,
 libcolord-dev,
 libgdk-pixbuf2.0-dev (>= 2.23.0),
 libglib2.0-dev (>= 2.44.0),
 libgnomekbd-dev,
 libgoa-1.0-dev,
 libgoa-backend-1.0-dev,
 libgtk-3-dev (>= 3.16),
 libmm-glib-dev (>= 0.7) [linux-any],
 libnm-dev (>= 1.2.0) [linux-any],
 libnma-dev (>= 1.2.0) [linux-any],
 libnotify-dev (>= 0.7.3),
 libpolkit-gobject-1-dev (>= 0.103),
 libupower-glib-dev (>= 0.99.8),
 libwacom-dev (>= 0.4) [linux-any],
 libx11-dev,
 libxkbfile-dev,
 libxklavier-dev (>= 5.1),
 libxml2-dev,
 locales,
 meson,
 tzdata,
Standards-Version: 3.9.8
Homepage: https://www.github.com/linuxmint/cinnamon-control-center

Package: cinnamon-control-center
Architecture: any
Depends:
 accountsservice,
 apg,
 cinnamon-control-center-data (= ${source:Version}),
 cinnamon-desktop-data (>= 4.8),
 cinnamon-settings-daemon,
 desktop-file-utils,
 gettext,
 gnome-online-accounts,
 libcinnamon-control-center1 (= ${binary:Version}),
 policykit-1-gnome,
 xdg-utils,
 ${misc:Depends},
 ${shlibs:Depends},
Recommends:
 cinnamon-l10n,
 iso-codes,
 mesa-utils,
 mousetweaks
Suggests: x11-xserver-utils
Description: utilities to configure the Cinnamon desktop
 This package contains configuration applets for the Cinnamon desktop,
 allowing to set accessibility configuration, desktop fonts, keyboard
 and mouse properties, sound setup, desktop theme and background, user
 interface properties, screen resolution, and other Cinnamon parameters.

Package: cinnamon-control-center-data
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Recommends: cinnamon-control-center (>= ${source:Version})
Description: configuration applets for Cinnamon - data files
 This package contains data files (icons, pixmaps, locales files) needed by
 the configuration applets in the cinnamon-control-center package.

Package: cinnamon-control-center-dbg
Priority: extra
Section: debug
Architecture: any
Depends: cinnamon-control-center (= ${binary:Version}), ${misc:Depends}
Description: utilities to configure the Cinnamon desktop - debug symbols
 This package contains the debug symbols for the configuration applets of the
 Cinnamon desktop.

Package: libcinnamon-control-center-dev
Section: libdevel
Architecture: any
Depends:
 libcinnamon-control-center1 (= ${binary:Version}),
 libgtk-3-dev (>= 3.4.1),
 ${misc:Depends},
Description: utilities to configure the Cinnamon desktop - development files
 This package contains the development files for the cinnamon control center
 panels library.

Package: libcinnamon-control-center1
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: utilities to configure the Cinnamon desktop
 This package contains the library used by control center panels
