*~
\#*\#
*.swp
.deps/
.libs/
Gd-1.0.gir
Gd-1.0.typelib
gd.gresource.xml
gd-resources.*
test-header-bar
test-revealer
test-stack
test-tagged-entry
Makefile
Makefile.in
gd-1.0.vapi
*.lo
*.o
*.la
.dirstamp
