[Desktop Entry]
Exec=cinnamon-settings network
Icon=cs-network
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Settings;HardwareSettings;X-Cinnamon-Settings-Panel;
OnlyShowIn=X-Cinnamon;
X-Cinnamon-Settings-Panel=network
Name=Network
Name[am]=ኔትዎርክ
Name[ar]=الشبكة
Name[ast]=Rede
Name[ay]=Llika
Name[az]=Tor işi
Name[be]=Сетка
Name[be@latin]=Сетка
Name[bg]=Мрежа
Name[br]=Rouedad
Name[bs]=Mreža
Name[ca]=Xarxa
Name[ca@valencia]=Xarxa
Name[cs]=Síť
Name[cy]=Rhwydwaith
Name[da]=Netværk
Name[de]=Netzwerk
Name[el]=Δίκτυο
Name[eo]=Reto
Name[es]=Red
Name[et]=Võrk
Name[eu]=Sarea
Name[fa]=شبکه
Name[fi]=Verkko
Name[fr]=Réseau
Name[fr_CA]=Réseau
Name[gd]=Lìonra
Name[gl]=Rede
Name[he]=רשת
Name[hi]=नेटवर्क
Name[hr]=Mreža
Name[hu]=Hálózat
Name[ia]=Rete
Name[id]=Jaringan
Name[ie]=Rete
Name[is]=Netkerfi
Name[it]=Rete
Name[ja]=ネットワーク
Name[ka]=ქსელი
Name[kab]=Aẓeḍḍa
Name[kk]=Желі
Name[km]=បណ្តាញ
Name[ko]=네트워크
Name[ku]=Tor
Name[la]=Rete
Name[lt]=Tinklas
Name[lv]=Tīkls
Name[ms]=Rangkaian
Name[nb]=Nettverk
Name[nds]=Netzwerk
Name[nl]=Netwerk
Name[nn]=Nettverk
Name[oc]=Ret
Name[pa]=ਨੈੱਟਵਰਕ
Name[pl]=Sieć
Name[pt]=Rede
Name[pt_BR]=Rede
Name[ro]=Rețea
Name[ru]=Сеть
Name[rue]=Мрежа
Name[sc]=Retza
Name[sk]=Sieť
Name[sl]=Omrežje
Name[sq]=Rrjeti
Name[sr]=Мрежа
Name[sr@latin]=Mreža
Name[sv]=Nätverk
Name[ta]=வலையமைப்பு
Name[tg]=Шабака
Name[th]=ระบบเครือข่าย
Name[tr]=Ağ
Name[uk]=Мережа
Name[ur]=نیٹ ورک
Name[uz]=Tarmoq
Name[uz@cyrillic]=Tarmoq
Name[vi]=Mạng
Name[zh_CN]=网络
Name[zh_HK]=網絡
Name[zh_TW]=網路
Comment=Network settings
Comment[am]=የ ኔትዎርክ ማሰናጃ
Comment[ar]=إعدادات الشبكة
Comment[ast]=Axustes de rede
Comment[ay]=Llikan mayjachawi
Comment[az]=Tor işi quruluşları
Comment[be]=Налады сеткі
Comment[be@latin]=Налады сеткі
Comment[bg]=Мрежови настройки
Comment[br]=Arventennoù ar rouedad
Comment[bs]=Mrežne postavke
Comment[ca]=Ajusts de la xarxa
Comment[ca@valencia]=Paràmetres de la xarxa
Comment[cs]=Nastavení sítě
Comment[cy]=Gosodiadau rhwydwaith
Comment[da]=Netværksindstillinger
Comment[de]=Netzwerkeinstellungen
Comment[el]=Ρυθμίσεις του δικτύου
Comment[eo]=Retagordoj
Comment[es]=Configuración de la red
Comment[et]=Võrguseaded
Comment[eu]=Sareko ezarpenak
Comment[fa]=تنظیمات شبکه
Comment[fi]=Verkon asetukset
Comment[fr]=Paramètres réseau
Comment[fr_CA]=Paramètres du réseau
Comment[gd]=Roghainnean an lìonraidh
Comment[gl]=Axustes da rede
Comment[he]=הגדרות רשת
Comment[hi]=नेटवर्क सेटिंग्स
Comment[hr]=Mrežne postavke
Comment[hu]=Hálózati beállítások
Comment[ia]=Configurationes de rete
Comment[id]=Pengaturan jaringan
Comment[ie]=Parametres de rete
Comment[is]=Netstillingar
Comment[it]=Impostazioni di rete
Comment[ja]=ネットワークの設定
Comment[ka]=ქსელის მორგება
Comment[kab]=Iɣewwaren uzeṭṭa
Comment[kk]=Желі баптаулары
Comment[ko]=네트워크 설정
Comment[ku]=Mîhengên torê
Comment[la]=Configuratio retis
Comment[lt]=Tinklo nustatymai
Comment[lv]=Tīkla iestatījumi
Comment[ms]=Tetapan rangkaian
Comment[nb]=Nettverksinnstillinger
Comment[nds]=Netzwerkeinstellungen
Comment[nl]=Netwerkinstellingen
Comment[nn]=Nettverk innstillingar
Comment[oc]=Paramètres de la ret
Comment[pl]=Ustawienia sieci
Comment[pt]=Definições de rede
Comment[pt_BR]=Configurações de Rede
Comment[ro]=Setări rețea
Comment[ru]=Настройки сети
Comment[sc]=Sèberos de sa retza
Comment[sk]=Nastavenie siete
Comment[sl]=Omrežne nastavitve
Comment[sq]=Parametrat e rrjetit
Comment[sr]=Подешавања мреже
Comment[sr@latin]=Podešavanja mreže
Comment[sv]=Nätverksinställningar
Comment[ta]=பிணைய அமைப்புகள்
Comment[tg]=Танзимоти шабака
Comment[th]=ตั้งค่าเครือข่าย
Comment[tr]=Ağ ayarları
Comment[uk]=Налаштування мережі
Comment[ur]=نیٹ ورک کی ترتیبات
Comment[uz]=Tarmoq moslamalari
Comment[uz@cyrillic]=Tarmoq moslamalari
Comment[vi]=Cài đặt mạng
Comment[zh_CN]=网络设置
Comment[zh_HK]=網絡設定
Comment[zh_TW]=網路設定
Keywords=Network;Wireless;IP;LAN;Proxy;Internet;WiFi;
Keywords[ast]=Rede;Inalámbrica;IP;LAN;Proxy;Internet;WiFi;
Keywords[be]=сетка;бесправадная;правадная;IP;LAN;проксі;інтэрнэт;WiFi;
Keywords[be@latin]=сетка;бесправадная;правадная;IP;LAN;проксі;інтэрнэт;WiFi;
Keywords[br]=Rouedad;Diorjal;IP;LAN;Proksi;Internet;Wi-Fi;
Keywords[ca]=Xarxa;Sense fil;IP;LAN;Proxy;Internet;WiFi;
Keywords[ca@valencia]=Xarxa;Sense fil;IP;LAN;Proxy;Internet;WiFi;
Keywords[cs]=Síť;bezdrátová;IP;LAN;proxy;Internet;WiFi;
Keywords[cy]=Rhwydwaith;Diwifr;IP;Dirprwy;Rhyngrwyd;WiFi;
Keywords[da]=Netværk;Trådløs;IP;LAN;Proxy;Internet;Wi-fi;
Keywords[de]=Network;Wireless;IP;LAN;Proxy;Internet;WiFi;Netzwerk;drahtlos;Vermittlung;WLAN;
Keywords[el]=Δίκτυο;Ασύρματο;IP;LAN;Proxy;Διαδίκτυο;WiFi;
Keywords[eo]=Reto;Sendrata;Interreta protokolo;Loka reto;Prokurilo;Interreto;Vifio;
Keywords[es]=Red;Inalámbrico;IP;LAN;Proxy;Internet;WiFi;
Keywords[et]=Võrk;traadita ühendus;IP;LAN;puhverserver;Internet;WiFi;
Keywords[eu]=Sarea;Haririk gabekoa;IP;LAN;Proxy;Internet;WiFi;
Keywords[fa]=شبکه، بی‌سیم، IP، LAN، پروکسی، اینترنت، وای‌فای;
Keywords[fi]=Verkko;Langaton;IP;LAN;Välityspalvelin;Internet;WiFi;
Keywords[fr]=Réseau;Sans-fil;IP;LAN;Proxy;Internet;WiFi;
Keywords[fr_CA]=Réseau;Sans-fil;IP;LAN;Proxy;Internet;WiFi;
Keywords[he]=רשת;אל־חוטי;IP;LN;מתווך;מרשתת;WiFi;
Keywords[hi]=नेटवर्क;वायरलेस;आईपी;लैन;प्रॉक्सी;इंटरनेट;वाईफाई;
Keywords[hr]=Mreža;Bežična mreža;IP;LAN;Proxy;Internet;WiFi;
Keywords[hu]=Hálózat;Vezeték nélküli;Wi-Fi;Wifi;IP;LAN;Széles sáv;Szélessáv;DNS;Network;Wireless;IP;LAN;Proxy;Internet;
Keywords[ia]=Rete;Sin filos;IP;LAN;Proxy;Internet;WiFi;
Keywords[id]=Jaringan;Nirkabel;IP;LAN;Proxy;Internet;WiFi;
Keywords[is]=Netkerfi;Þráðlaust;IP;LAN;Milliþjónn;Internet;WiFi;
Keywords[it]=Rete;Wireless;IP;LAN;Proxy;Internet;WiFi;
Keywords[ja]=Network;Wireless;IP;LAN;Proxy;Internet;WiFi;ネットワーク;ワイヤレス;プロキシ;インターネット;
Keywords[ko]=네트워크;무선;IP;LAN;프록시;인터넷;WiFi;
Keywords[nb]=Nettverk;Trådløs;IP;LAN;Proxy;Internett;WiFi;
Keywords[nl]=Netwerk;Draadloos;IP;LAN;Proxy;Internet;WiFi;
Keywords[oc]=Ret;Sens fil;LAN;Proxy;Internet;WiFi;
Keywords[pl]=Sieć;Bezprzewodowa;IP;LAN;Proxy;Internet;WiFi;
Keywords[pt]=Rede;Sem fios;IP;LAN;Proxy;Internet;WiFi;
Keywords[pt_BR]=Rede;Sem fio;IP;LAN;Proxy;Internet;WiFi;
Keywords[ro]=Rețea;Wireless;IP;LAN;Proxy;Internet;WiFi;
Keywords[ru]=Сеть;Беспроводная связь;IP;Локальная сеть;Прокси;интернет;Беспроводная сеть;
Keywords[sk]=Sieť;Bezdrôtové pripojenie;IP;LAN;Proxy;Internet;WiFi;
Keywords[sl]=Omrežje;brezžično;IP;LAN;internet;wifi;posredovalni strežnik;
Keywords[sv]=Nätverk;Trådlöst;IP;LAN;Proxy;Internet;Trådlöst nätverk;
Keywords[tr]=Ağ;Kablosuz;IP;LAN;Vekil;Internet;Kablosuz ağ;
Keywords[uk]=Мережа;Бездротові мережі;IP;Локальна мережа;Проксі;Інтернет;WiFi;
Keywords[uz]=Tarmoq;Simsiz;IP;LAN;Proksi;Internet;WiFi;
Keywords[uz@cyrillic]=Tarmoq;Simsiz;IP;LAN;Proksi;Internet;WiFi;
Keywords[vi]=Mạng;Không dây;IP;LAN;Proxy;Internet;WiFi;
Keywords[zh_TW]=網路;無線網路;IP;區域綱路;代理;網際網路;WiFi;
