[Desktop Entry]
Exec=cinnamon-control-center online-accounts
Icon=cs-online-accounts
Terminal=false
Type=Application
X-Cinnamon-Settings-Panel=online-accounts
Name=Region & Language
